.basketSection{
    display: flex;
    flex-direction: row;
    padding-top: 4%;
}
.detailsSection{
    width: 100%;
}
.detailsSection h1{
    padding-left:5%;
}
.imageSection img{
    width: 65px;
    height: 65px;
    margin-left: 5%;
}
.priceSection{
    padding: 3% 0 3% 9%;
    width: 50%;
}
.productName{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
}
.itemsSection{
    display: flex;
    flex-direction: column;
}
.productName p:first-child{
    color:#4e4e4e;
    font-size: 12px;
    margin-bottom: 2%;
}
.productName p:nth-child(2){
    font-size: 18px;
    white-space: nowrap;
}
.productCount{
    width: 90px;
    height: 23px;
    border:1px solid #a3a3a3;
    border-radius: 5px;
    display: flex;
    margin: auto 0 auto 10%;
}
.productCount p{
    margin: 3% auto;
    font-size: 13px;
}
.productCount span{
    margin: auto 5%;
}
.productPrice{
    color:#00A651;
    font-weight: 600;
    display: flex;
    margin: auto 0 auto 10%;
}
.itemSection{
    display: flex;
    flex-direction: row;
    padding-top: 3%;
}
.line{
    margin-top: 5%;
    width: 100%;
    height: 1px;
    background-color: #a3a3a3;
}
.checkoutSection{
    display: flex;
    flex-direction: row;
}
.sumSection{
    width: 30%;
    margin-left: 10%;
    margin-top: 4%;
    height: 270px;
    border:1px solid #a3a3a3;
    border-radius: 5px;
}
.promocode{
    padding: 6% 3%;
    display: flex;
    position: relative;
    align-items: center;
}
.promocode input{
    width: 85%;
    font-size: 12px;
}
.promocode i{
    position: absolute;
    right: 3%;
    font-size: 20px;
    padding: 5px;
    border:1px solid #a3a3a3;
    border-radius: 5px;
}
.generalPriceSection{
    padding: 5% 3%;
    display: flex;
    flex-direction: column;
}
.calcPriceSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2%;
}
.calcPriceSection p:first-child{
    font-size: 14px;
    font-weight: 600;
}
.calcPriceSection p:nth-child(2){
    color:#00A651;
}
.totalPriceSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 4%;
}
.totalPriceSection p{
    font-size: 18px;
    font-weight: 600;
}
.totalPriceSection p:nth-child(2){
    color: #00A651;
}
.totalPriceSection a{
    text-decoration: none;
    padding: 5px;
    background-color: #00A651;
    width: 100%;
    text-align: center;
    color:white;
    border-radius: 5px;
    font-size: 14px;
}
@media (max-width: 992px) {
    .checkoutSection{
        flex-direction: column;
    }
    .priceSection{
        width: 100%;
        padding: 0;
    }
    .detailsSection h1{
        text-align: center;
    }
    .sumSection{
        width: 100%;
        margin-top:2%;
        margin-left: 0;
    }
    .sumSection{
        height: 280px;
    }
    .generalPriceSection{
        padding: 0 3%;
    }
    .promocode{
        padding: 3% 3%;
    }
}
@media (max-width: 1400px) {
    .productCount{
        margin: auto;
    }
    .productName{
        padding-left: 3%;
    }
    .productName p:nth-child(2){
        font-size: 14px;
        font-weight: 700;
    }
    .productPrice{
        margin: auto;
    }
}