.categories{
    display: flex;
    flex-direction: column;
}
.categories h5{
    font-weight: 600;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.line{
    width: 100%;
    height: 1px;
    background-color: #a3a3a3;
}
.products p{
    font-size: 14px;
    padding: 10px 0;
}
.price{
    padding: 5% 0;
}
.range{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #a3a3a3;
    width: 100%;
    margin-top: 2%;
    border-radius: 5px;
    height: 30px;
    align-items: center;
    padding: 0 1%;
    position: relative;
}
.priceRange{
    padding-top: 2%;
}
.range p{
    font-size: 12px;
    padding: 0 2%;
}
.brands{
    padding-top: 2%;
}
.brand{
    padding: 5% 0;
    display: flex;
}
.brand p{
    font-size: 13px;
    margin-top: -3px;
    margin-left: 8px;
}
.brand input{
    transform: scale(1.3);
}
.rangeSlider{
    border:2px solid #0353a5;
    background: #0353a5;
    width: 11%;
    position: absolute;
    top:46.5%;
    margin-left: 10px;
}
.rangeSlider::before{
    content: "";
    height: 15px;
    width: 15px;
    position: absolute;
    border-radius: 10px;
    border:1px solid #00A651;
    background-color: #00A651;
    left:-2px;
    top:-7px;
}
.rangeSlider::after{
    content: "";
    height: 15px;
    width: 15px;
    position: absolute;
    border-radius: 10px;
    border:1px solid #00A651;
    background-color: #00A651;
    right:-2px;
    top:-7px;
}
.generalCategories{
    display: flex;
    padding-top: 3%;
}
.categoryFilters{
    width: 15%;
}
.sortAZ{
    font-size: 13px;
    border: 1px solid #000000;
    border-radius: 30px;
    padding: 3px 10px;
    position: absolute;
    right: 13%;
    display: flex;
}
.sortAZ p{
   padding-top: 3%;
}
.sortAZ i{
    font-size: 24px;
}
.allProducts{
    width: 85%;
}
.productsDetail{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 3%;
}
.product{
    margin-top: 4%;
    height: 340px;
    width: 295px;
    border-radius: 15px;
    border:1px solid #ebebeb;
    overflow: hidden;
    margin-left: 3%;
}
.productImage{
    background-color: #ebebeb;
}
.product img{
    width: 222px;
    height: 222px;
    margin: 0 12%;
}
.product p:nth-child(3){
    color: #00A651;
    font-weight: 600;
}
.product p{
    font-weight: 500;
    padding: 5% 0 0 5%;
}
.discount s{
    color:#C4C4C4;
}
.discount s span{
    color:#C4C4C4;
    font-weight: 600;
    padding: 5% 0 0 5%;
}
.discount span:nth-child(2){
    color:#00A651;
    font-weight: 600;
    margin-left: 10%;
}
.threeProducts{
    display: flex;
    flex-direction: row;
}
.discount{
    padding-top: 3%;
}
.pages{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2%;
}
.pages span{
    width: 40px;
    height: 40px;
    border-radius: 120px;
    border: 1px solid #000000;
    text-align: center;
    padding-top: 7px;
    margin-left:1%;
    font-weight: 600;
    cursor: pointer;
}
.pages span i{
    font-size: 24px;
}
.active{
    background: #00A651;
    color:white;
    border:1px solid #00A651!important;
}