.menu{
       margin-left: -10%;
}
.menu ul{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}
.menu ul li{
    margin-right: 20%;
    font-weight: 500;
    cursor: pointer;
}

.responsive ul{
    position: fixed;
    width: 100%;
    height: 20vh;
    background: #2c3e50;;
    left: 0;
    top:15%;
    padding: 7% 0;
    text-align: center;
    transition: all .5s;
}
.responsive ul li{
    cursor: pointer;
    color: white;
}
.responsive{
    display: none;
}

.actions ul{
    display: flex;
    flex-direction: row;
}

.actions ul li{
    margin-right: 20%;
    cursor: pointer;
}

.mainMenu{
    display: flex;
    justify-content: space-between;
    height: 113px;
    align-items: center;
}

.hamburger{
    display: none;
}
.hamburger label{
    font-size: 30px;
    color:black;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}
.hamburger input{
    display: none;
}
.filter{
    background: #00A651;
    width: 100%;
    height: 129px;
}
.categories{
    height: 51px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 30px;
    padding: 0 2%;
}
.categories input{
    display: none;
}
.categories p{
    font-size: 13px;
    color:#00A651;
    white-space: nowrap;
}
.general{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 24% 0 8%;
    height: 129px;
}
.categories label{
    font-size: 20px;
    color:#00A651;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
}
.search{
    margin-left: 15%;
    width: 100%;
    display: flex;
}
.search i{
    position: absolute;
    right: 25%;
    top:21.8%;
    font-size: 26px;
    color:#00A651;
}
.search input{
    width: 100%;
    border-radius: 30px;
    font-weight: 400;
    font-size: 14px;
    position: relative;
}
.footer{
    height: 270px;
    background-color: #000000;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
}
.logo span:nth-child(1){
    color:#00A651;
    font-size: 25px;
    font-weight: 600;
}
.logo span:nth-child(2){
    color:#256AB1;
    font-size: 25px;
    font-weight: 500;
}
.footerHelp{
    display: flex;
    flex-direction: row;
    color:white;
    font-weight: 400;
    font-size: 14px;
}
.info{
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    width: 100%;
}
.links i{
    font-size: 20px;
    margin-left: 10%;
}
.contact{
    margin-left: 25%;
}
.follow p{
    white-space: nowrap;
    margin-bottom: 7%;
}
.contact p{
    white-space: nowrap;
    margin-bottom: 7%;
}
.address{
    margin-left: 25%;
}
.address p{
    white-space: nowrap;
    margin-bottom: 7%;
}
@media(max-width: 768px){
    .menu{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .responsive{
        display: block;
        z-index: 1000;
    }
    .general{
        margin: 0 3%;
    }
    .search{
        margin-left: 5%;
    }
    .search i{
        right: 5%;
    }
}
@media(max-width: 992px)  {
    .footer{
        display: none;
    }
}