.generalProducts{
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}
.generalProducts h3{
    text-align: center;
}
.products{
    display: flex;
    flex-direction: row;
}
.product{
    margin-top: 4%;
    height: 380px;
    width: 295px;
    border-radius: 15px;
    border:1px solid #ebebeb;
    overflow: hidden;
    margin-left: 3%;
}
.productImage{
    background-color: #ebebeb;
}
.product img{
    width: 262px;
    height: 262px;
    margin: 0 5%;
}
.product p{
    font-weight: 500;
    padding: 5% 0 0 5%;
}
.twoProducts{
    display: flex;
    flex-direction: row;
}
.product p:nth-child(3){
    color: #00A651;
    font-weight: 600;
}
@media(max-width: 1400px){
    .product img{
        width: 200px;
        margin: 0 10%;
    }
    .product{
        width: 280px;
    }
}
@media (max-width: 1200px) {
    .product img{
        width: 180px;
    }
    .product{
        width: 230px;
    }
}
@media (max-width: 992px) {
    .product img{
        width: 262px;
    }
    .product{
        width: 295px;
    }
    .twoProducts{
        flex-direction: column;
        margin-left: 4%;
    }
}
@media (max-width: 768px) {
    .product img{
        width: 180px;
    }
    .product{
        width: 210px;
    }
    .twoProducts{
        margin:auto;
    }
}